.popupEditContainer{
	height:400px;
	width: 650px;
	border: 1px solid black;
	background-color: #b2b0b0;
    z-index: 100;
    margin: 0 auto;
    top: -615px;
    position: relative;
    padding: 25px;
}
.inputTitle{
	font-size: 20px;
	color:whitesmoke;
	margin-bottom: 20px;
	top: 29px;
    left: 12px;
    position: relative;
}
.inputEditTitle{
	font-size: 20px;
    position: relative;
    top: 27px;
    left: 103px;
    margin-bottom: 20px;
    width: 420px;
}
.inputPrice{
	color:whitesmoke;
	font-size: 20px;
    position: relative;
    top: 67px;
    left: -466px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.inputEditPrice{
	font-size: 20px;
    position: relative;
    top: 17px;
    left: 140px;
    margin-bottom: 20px;
    width: 420px;
}
.inputDescription{
    color:whitesmoke;
    font-size: 20px;
    position: relative;
    top: 58px;
    left: -430px;
    margin-bottom: 20px;
    margin-left: 20px
}
.inputEditDescription{
    font-size: 20px;
    position: relative;
    top: 8px;
    left: 140px;
    margin-bottom: 20px;
    width: 420px;
}
.inputUrl{
	color:whitesmoke;
	font-size: 20px;
    position: relative;
    top: 47px;
    left: -429px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.inputEditUrl{
	font-size: 20px;
    position: relative;
    top: -1px;
    left: 140px;
    margin-bottom: 20px;
    width: 420px;
}
.inputImage{
	color:whitesmoke;
	font-size: 20px;
    position: relative;
    top: 36px;
    left: -429px;
    margin-left: 20px;
}
.inputEditImage{
	font-size: 20px;
    position: relative;
    top: -11px;
    left: 140px;
    width: 420px;
}
.inputVisible{
	color:whitesmoke;
	font-size: 20px;
    position: relative;
    top: 52px;
    left: -385px;
}
.inputCancel{
	position: relative;
	top: 46px;
	left: -97px;
}
.inputSubmit{
	position: relative;
	top: 22px;
	left: 485px;
}
.inputCheckbox{
    position: relative;
    top: 50px;
    left: -466px;    
}