.popupEventContainer{
	width:300px;
	height:150px;
	z-index: 1000;
	border: 1px solid white;
	background-color: #b2b0b0;
	margin: 0 auto;
	position: relative;
	padding-top:10px;
	top: -430px;
}
.inputEventLabel{
	font-size: 25px;
	margin-left: 20px;
	position: relative;
}
.inputEventTitle{
	width:260px;
	position: relative;
	top:0px;
	left:0px;
	margin-left:18px;
	margin-top: 5px;
}
.inputEventDate{
	width:260px;
	position: relative;
	top:0px;
	left:0px;
	margin-left:18px;
	margin-top: 5px;	
}
.eventCancel{
	position: relative;
	top:12px;
	left: 18px;
}
.eventSubmit{
	position: relative;
	top:12px;
	left: 120px;
}