.loginContainer{
	width: 700px;
	height: 410px;
	margin: 0 auto;
	border: 1px solid black;
	background: #686a6b;
	margin-top: 65px;
}
.loginBox{
	height: 300px;
	width: 300px;
	margin-top:50px;
}
.registerBox{
	height: 300px;
	width: 300px;
	margin-top:50px;
	float: right;
}
.box{
	height: 100px;
	width: 100px;
	padding-left:73px;
	padding-top:10px;
}

.login{
	background-color: #5e5a5a;
	border: none;
	width: 225px;
    height: 45px;
    margin-left:10px;
    padding-left: 30px;	
    border: 1px solid black;
}
.password{
	background-color: #5e5a5a;
	border: none;
	width: 225px;
    height: 45px;
    margin-left:9px;
    padding-left: 30px;	
    border: 1px solid black;
}
.confirmPassword{
	background-color: #5e5a5a;
	border: none;
	width: 225px;
    height: 45px;
    margin-left:9px;
    padding-left: 30px;	
    border: 1px solid black;
}
.loginButton{
	width: 224px;
    height: 45px;
    margin-left: 35px;
    background-color: #e3e8e5;
    margin-top: 25px;
}
.fa {
	margin-left: 10px;
	position: relative;
	left: 30px;
}